.hidden-img {
  position: absolute;
  width: calc(100% - 48px);
  height: 400px;
  background-color: black;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  p {
    color: white;
    padding: 8px;
    text-align: center;
  }
}

mat-dialog-content:has(.hidden-img) {
  position: relative;
  min-height: 400px;
}

mat-dialog-content {
  overflow-y: auto !important;
}

:host ::ng-deep .content img {
  width: 100%;
}

:host ::ng-deep .content {
  max-height: 60vh;
  overflow-y: auto !important;
}
